.color-picker {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &__input {
    &--error {
      border-color: theme('colors.error.500') !important;
    }
    &--success {
      border-color: theme('colors.success.500') !important;
    }
  }
}
